#-------------------------------------------
# .gitignore file for tutorial 
#-------------------------------------------
Untitled*.ipynb
*noshow.ipynb
div/
lit/
!lit/README.md
lab11/
!lab11/README.md
